<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>plugin-type=1</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PLUG.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>FIX EC AND USB POWER</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EC-USBX.aml</string>
			</dict>
		</array>
		<key>Delete</key>
		<array/>
		<key>Patch</key>
		<array/>
		<key>Quirks</key>
		<dict>
			<key>FadtEnableReset</key>
			<false/>
			<key>NormalizeHeaders</key>
			<false/>
			<key>ResetLogoStatus</key>
			<false/>
			<key>RebaseRegions</key>
			<false/>
			<key>ResetHwSig</key>
			<false/>
		</dict>
	</dict>
	<key>Booter</key>
	<dict>
		<key>MmioWhitelist</key>
		<array/>
		<key>Quirks</key>
		<dict>
			<key>EnableWriteUnprotector</key>
			<true/>
			<key>ProvideMaxSlide</key>
			<integer>0</integer>
			<key>EnableSafeModeSlide</key>
			<true/>
			<key>SignalAppleOS</key>
			<false/>
			<key>ProtectUefiServices</key>
			<false/>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>DiscardHibernateMap</key>
			<false/>
			<key>DevirtualiseMmio</key>
			<false/>
			<key>SyncRuntimePermissions</key>
			<false/>
			<key>DisableSingleUser</key>
			<false/>
			<key>ProvideCustomSlide</key>
			<true/>
			<key>ForceExitBootServices</key>
			<false/>
			<key>ProtectSecureBoot</key>
			<false/>
			<key>DisableVariableWrite</key>
			<false/>
			<key>SetupVirtualMap</key>
			<true/>
			<key>ProtectMemoryRegions</key>
			<false/>
			<key>RebuildAppleMemoryMap</key>
			<false/>
		</dict>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>BQAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AAASWQ==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
			</dict>
		</dict>
		<key>Delete</key>
		<dict/>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Emulate</key>
		<dict>
			<key>Cpuid1Mask</key>
			<data></data>
			<key>Cpuid1Data</key>
			<data></data>
		</dict>
		<key>Add</key>
		<array>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string>Patch engine</string>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string>SMC emulator</string>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string>Video patches</string>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string>Audio patches</string>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string>Realtek Ethernet LAN</string>
				<key>BundlePath</key>
				<string>RealtekRTL8111.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/RealtekRTL8111</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Block</key>
		<array/>
		<key>Patch</key>
		<array/>
		<key>Quirks</key>
		<dict>
			<key>AppleXcpmCfgLock</key>
			<true/>
			<key>AppleCpuPmCfgLock</key>
			<true/>
			<key>DisableRtcChecksum</key>
			<false/>
			<key>DisableIoMapper</key>
			<true/>
			<key>DummyPowerManagement</key>
			<true/>
			<key>LapicKernelPanic</key>
			<false/>
			<key>CustomSMBIOSGuid</key>
			<false/>
			<key>IncreasePciBarSize</key>
			<false/>
			<key>AppleXcpmExtraMsrs</key>
			<false/>
			<key>PanicNoKextDump</key>
			<true/>
			<key>PowerTimeoutKernelPanic</key>
			<true/>
			<key>ThirdPartyDrives</key>
			<false/>
			<key>ExternalDiskIcons</key>
			<false/>
			<key>XhciPortLimit</key>
			<true/>
			<key>AppleXcpmForceBoost</key>
			<false/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>BlessOverride</key>
		<array/>
		<key>Debug</key>
		<dict>
			<key>ApplePanic</key>
			<true/>
			<key>SysReport</key>
			<false/>
			<key>Target</key>
			<integer>67</integer>
			<key>DisplayLevel</key>
			<integer>0</integer>
			<key>AppleDebug</key>
			<true/>
			<key>DisableWatchDog</key>
			<false/>
			<key>DisplayDelay</key>
			<integer>0</integer>
			<key>SerialInit</key>
			<false/>
		</dict>
		<key>Entries</key>
		<array/>
		<key>Security</key>
		<dict>
			<key>BootProtect</key>
			<string>Bootstrap</string>
			<key>AuthRestart</key>
			<false/>
			<key>Vault</key>
			<string>Optional</string>
			<key>AllowNvramReset</key>
			<true/>
			<key>ScanPolicy</key>
			<integer>0</integer>
			<key>AllowSetDefault</key>
			<true/>
			<key>HaltLevel</key>
			<integer>2147483648</integer>
			<key>ExposeSensitiveData</key>
			<integer>6</integer>
		</dict>
		<key>Tools</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Not signed for security reasons</string>
				<key>Name</key>
				<string>UEFI Shell</string>
				<key>Enabled</key>
				<true/>
				<key>Arguments</key>
				<string></string>
				<key>Path</key>
				<string>OpenShell.efi</string>
				<key>Auxiliary</key>
				<true/>
			</dict>
		</array>
		<key>Boot</key>
		<dict>
			<key>TakeoffDelay</key>
			<integer>0</integer>
			<key>HideAuxiliary</key>
			<false/>
			<key>PollAppleHotKeys</key>
			<false/>
			<key>Timeout</key>
			<integer>30</integer>
			<key>HibernateMode</key>
			<string>None</string>
			<key>ShowPicker</key>
			<true/>
			<key>PickerAttributes</key>
			<integer>1</integer>
			<key>ConsoleAttributes</key>
			<integer>0</integer>
			<key>PickerAudioAssist</key>
			<false/>
			<key>PickerMode</key>
			<string>External</string>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Delete</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>boot-args</string>
			</array>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<array>
				<string>UIScale</string>
				<string>DefaultBackgroundColor</string>
			</array>
			<key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
			<array>
				<string>rtc-blacklist</string>
			</array>
		</dict>
		<key>LegacyEnable</key>
		<false/>
		<key>LegacyOverwrite</key>
		<false/>
		<key>Add</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>prev-lang:kbd</key>
				<data>ZW4tVVM6MA==</data>
				<key>SystemAudioVolume</key>
				<data>cA==</data>
				<key>run-efi-updater</key>
				<string>No</string>
				<key>csr-active-config</key>
				<data>5wMAAA==</data>
				<key>boot-args</key>
				<string>-v keepsyms=1 debug=0x100 alcid=2</string>
			</dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>DefaultBackgroundColor</key>
				<data>AAAAAA==</data>
				<key>UIScale</key>
				<data>AQ==</data>
			</dict>
			<key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
			<dict>
				<key>rtc-blacklist</key>
				<data></data>
			</dict>
		</dict>
		<key>Block</key>
		<dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>Item 0</key>
				<string>UIScale</string>
				<key>Item 1</key>
				<string>DefaultBackgroundColor</string>
			</dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>Item 0</key>
				<string>boot-args</string>
			</dict>
		</dict>
		<key>WriteFlash</key>
		<true/>
		<key>LegacySchema</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>EFILoginHiDPI</string>
				<string>EFIBluetoothDelay</string>
				<string>LocationServicesEnabled</string>
				<string>SystemAudioVolume</string>
				<string>SystemAudioVolumeDB</string>
				<string>SystemAudioVolumeSaved</string>
				<string>bluetoothActiveControllerInfo</string>
				<string>bluetoothInternalControllerInfo</string>
				<string>flagstate</string>
				<string>fmm-computer-name</string>
				<string>nvda_drv</string>
				<string>prev-lang:kbd</string>
			</array>
			<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
			<array>
				<string>Boot0080</string>
				<string>Boot0081</string>
				<string>Boot0082</string>
				<string>BootNext</string>
				<string>BootOrder</string>
			</array>
		</dict>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>UpdateNVRAM</key>
		<true/>
		<key>Generic</key>
		<dict>
			<key>ROM</key>
			<data>EHtEUhqN</data>
			<key>AdviseWindows</key>
			<false/>
			<key>SystemSerialNumber</key>
			<string>C02R40F7GG7L</string>
			<key>SystemProductName</key>
			<string>iMac17,1</string>
			<key>SystemUUID</key>
			<string>585BB9C6-D56D-439B-A2BE-A6DCFC1BEDE0</string>
			<key>MLB</key>
			<string>C02603405J9GPF78C</string>
			<key>SpoofVendor</key>
			<true/>
		</dict>
		<key>Automatic</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Create</string>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>APFS</key>
		<dict>
			<key>HideVerbose</key>
			<true/>
			<key>GlobalConnect</key>
			<true/>
			<key>JumpstartHotPlug</key>
			<true/>
			<key>MinVersion</key>
			<integer>-1</integer>
			<key>MinDate</key>
			<integer>-1</integer>
			<key>EnableJumpstart</key>
			<true/>
		</dict>
		<key>Output</key>
		<dict>
			<key>Resolution</key>
			<string>Max</string>
			<key>IgnoreTextInGraphics</key>
			<false/>
			<key>SanitiseClearScreen</key>
			<false/>
			<key>TextRenderer</key>
			<string>BuiltinGraphics</string>
			<key>ConsoleMode</key>
			<string></string>
			<key>DirectGopRendering</key>
			<false/>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>ReconnectOnResChange</key>
			<false/>
			<key>UgaPassThrough</key>
			<false/>
			<key>ClearScreenOnModeSwitch</key>
			<false/>
			<key>ReplaceTabWithSpace</key>
			<false/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>AudioOut</key>
			<integer>3</integer>
			<key>MinimumVolume</key>
			<integer>50</integer>
			<key>VolumeAmplifier</key>
			<integer>143</integer>
			<key>AudioCodec</key>
			<integer>0</integer>
			<key>PlayChime</key>
			<true/>
			<key>AudioDevice</key>
			<string>PciRoot(0x0)/Pci(0x1f,0x3)</string>
			<key>AudioSupport</key>
			<false/>
		</dict>
		<key>Input</key>
		<dict>
			<key>PointerSupport</key>
			<false/>
			<key>KeySupportMode</key>
			<string>Auto</string>
			<key>PointerSupportMode</key>
			<string>ASUS</string>
			<key>KeySupport</key>
			<true/>
			<key>TimerResolution</key>
			<integer>50000</integer>
			<key>KeyMergeThreshold</key>
			<integer>2</integer>
			<key>KeyForgetThreshold</key>
			<integer>5</integer>
			<key>KeySwap</key>
			<false/>
			<key>KeyFiltering</key>
			<false/>
		</dict>
		<key>ReservedMemory</key>
		<array/>
		<key>ProtocolOverrides</key>
		<dict>
			<key>HashServices</key>
			<false/>
			<key>UnicodeCollation</key>
			<false/>
			<key>AppleFramebufferInfo</key>
			<false/>
			<key>OSInfo</key>
			<false/>
			<key>AppleSmcIo</key>
			<false/>
			<key>DataHub</key>
			<false/>
			<key>AppleRtcRam</key>
			<false/>
			<key>AppleImageConversion</key>
			<false/>
			<key>AppleBootPolicy</key>
			<false/>
			<key>AppleAudio</key>
			<false/>
			<key>DeviceProperties</key>
			<false/>
			<key>AppleUserInterfaceTheme</key>
			<false/>
			<key>AppleEvent</key>
			<false/>
			<key>AppleDebugLog</key>
			<false/>
			<key>FirmwareVolume</key>
			<false/>
			<key>AppleKeyMap</key>
			<false/>
		</dict>
		<key>Drivers</key>
		<array>
			<string>HfsPlus.efi</string>
			<string>OpenCanopy.efi</string>
			<string>OpenRuntime.efi</string>
		</array>
		<key>Quirks</key>
		<dict>
			<key>DeduplicateBootOrder</key>
			<true/>
			<key>IgnoreInvalidFlexRatio</key>
			<false/>
			<key>ExitBootServicesDelay</key>
			<integer>0</integer>
			<key>RequestBootVarRouting</key>
			<true/>
			<key>ReleaseUsbOwnership</key>
			<false/>
			<key>TscSyncTimeout</key>
			<integer>0</integer>
			<key>UnblockFsConnect</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
